* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


body {
  font-weight: 200;
  font-size: 0.9em;
}

.div-mode {
  margin: 20px;
  padding: 10px;
}

.mode {
  float: right;
}

header,
footer {
  text-align: center;
  padding: 20px;
  background-color: beige;
  color: black;
  font-size: 25px;
}

.content {
  padding: 10px;
}

#result {
  width: 80%;
  border: 2px solid #f4f5f0;
  border-radius: 5px;
  background-color: #f4f5f0;
  padding: 10px;
  margin: auto;
}

.result-item {
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  padding: 0;
}

.result-item h5 {
  margin: 0;
  padding: 3px;
  display: inline-block;
  background-color: #f4f5f0;
  min-width: 20%;
}

#calc-result {
  padding: 3px;
  font-size: 1.9em;
  font-style: italic;
  color: gray;
}

.grid-input {
  width: 90%;
  padding: 20px;
  display: grid;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr;
}

.grid-input>div {
  background-color: #f4f5f0;
  padding: 9px 10px;
  border-radius: 10px;
}

.div-input {
  margin-top: 10px;
}

.div-input h4,
.div-input h6 {
  display: inline-block;
  min-width: 23%;
  background-color: gray;
  color: beige;
  border-radius: 5px;
  text-align: center;
}

.div-input h6 {
  padding: 5px 0.5px;
}

input {
  width: 50%;
  padding: 3px 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

#left-box {}

#right-box {}
/* 
@media only screen and (max-width: 600px) {
  .content {
    padding: 20px 0;
  }

  #result {
    width: 70%;
  }

  .result-item {
    width: 90%;
  }

  .result-item h5 {
    padding: 9px 3px;
    padding-top: 12px;
  }

  .result-item span {
    font-size: 1.2em;
    font-family: "Calibri";
    margin: 1.5px 0;
    display: inline-block;
    font-weight: 250;
  }

  .grid-input>div {
    padding: 5px;
    padding-bottom: 20px;
  }

  input {
    width: 40%;
    padding: 10px 15px;
    font-size: 1.2em;
  }


  @media only screen and (min-width : 601px) and (max-width:1600px) and (min-height: 600px) {


    #result {
      width: 50%;
    }

    body {
      font-size: 1.3em;
    }

    .grid-input {
      width: 70%;
      column-gap: 10%;
      margin-left: auto;
      margin-right: auto;
    }

    input {
      width: 50%;
      padding: 10px 15px;
    }

  }
} */
